.container {
  width: 100%;
  height: 100%;
  font-family: "Sriracha", cursive;
  color: rgb(110, 110, 110);
  text-align: center;
  background-image: url(https://www.lubbockisd.org/cms/lib/TX01918059/Centricity/Domain/60/Covid%20Background%20-%20MMG.jpg);
}
.col {
  width: 100%;
  height: 100%;
  font-family: "Sriracha", cursive;
}
.footer {
  font-family: "Sriracha", cursive;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
}

.text-white {
  color: #fff;
}

.col {
  max-width: 100%;
  margin-bottom: 30px;
}

.h1,
h1 {
  font-size: 2.5rem;
  text-align: center;
}

.bg-Confirmed {
  background-color: #e2298e !important;
}

.bg-Recovered {
  background-color: #045f34 !important;
}

.bg-Hospitalized {
  background-color: #179b9d !important;
}

.bg-Deaths {
  background-color: #666666 !important;
}

.card-title {
  margin-bottom: 0.75rem;
  text-align: center;
}

.card-text:last-child {
  margin-bottom: 0;
  text-align: center;
}
